<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Профиль</title>
        <link rel="stylesheet" href="/static/css/profile_styles.css">
    </head>
    <body>
        
        <div id="wrapper">
            <header>
                <div id="emblem">LoveMusic</div>
                
            </header>
            <nav>
                <ul class="top-menu">
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/friends">Друзья</a></li>
                    <li><a href="/search_track">Найти трек</a></li>
                    <li><a href="/collection">Моя коллекция</a></li>
                    <li><a href="/add_track">Добавить трек</a></li>
                </ul>
            </nav>
            
            <div class="form-add-track">
                <div id="add-track-emblem">Добавить трек</div>
                <div id="exeption">{{ .Exeption}}</div>
                <div id="notification">{{ .Notification}}</div>
                
                <form action="/add_track" method="post">
                    
                    <div class="form-group">
                        <label>Название трека:</label>
                        <input type="text" name="name_music">
                    </div>
                
                    
                    
                    <div class="form-group">
                        <label>Исполнитель:</label>
                        <input type="text" name="name_artist">
                    </div>
                
                    
                    <div class="form-group">
                        <button class="add-track-button">Добавить</button>
                    </div>
                        
                    
                </form>
            </div>
           
            <div id="heading">

            </div>
            <aside>

            </aside>
            <section>

            </section>
        </div>
        <footer></footer>

    </body>
</html>