<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Друзья</title>
        <link rel="stylesheet" href="/static/css/friends_styles.css">
    </head>
    <body>
        
        <div id="wrapper">
            <header>
                <div id="emblem">LoveMusic</div>
                <form name="search" action="#" method="get">
                    <input type="text" name="q" placeholder="Search"><button type="submit">Поиск</button>
                </form>
            </header>
            <nav>
                <ul class="top-menu">
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/friends">Друзья</a></li>
                    <li><a href="/toptracks">Топ треков</a></li>
                    <li><a href="topartists">Топ артистов</a></li>
                    <li><a href="/add_track">Добавить трек</a></li>
                </ul>
            </nav>
            
            <div class="user_friends">

            </div>
           
            <div id="heading">

            </div>
            <aside>

            </aside>
            <section>

            </section>
        </div>
        <footer></footer>

    </body>
</html>