<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Профиль</title>
        <link rel="stylesheet" href="/static/css/profile_styles.css">
    </head>
    <body>
        
        <div id="wrapper">
            <header>
                <div id="emblem">LoveMusic</div>
                
            </header>
            <nav>
                <ul class="top-menu">
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/friends">Друзья</a></li>
                    <li><a href="/toptracks">Топ треков</a></li>
                    <li><a href="topartists">Топ артистов</a></li>
                </ul>
            </nav>
            <div class="info-on-user">
                <div class="profile-container">
                    <div class="profile-picture">
                        <img src="/static/images/mers.jpg" alt="Фото профиля">
                    </div>
                    <div class="profile-info">
                        <h1>{{ .Profile.Username}}</h1>
                        <p>Ваш ID: {{ .Profile.User_ID}}</p>
                    </div>
                </div>
                <div class="top-tracks-user">
                    <table>
                        <caption>Топ треков</caption>
                        <tr>
                            <th>Место</th>
                            <th>Трек</th>
                            <th>Исполнитель</th>
                        </tr>
                        {{range .TopTracks}}
                        <tr>
                            <td>{{.Place}}</td>
                            <td>{{.NameMusic}}</td>
                            <td>{{.NameArtist}}</td>
                        </tr>
                        {{end}}
                        
                    </table>
                </div>
            </div>
           
            <div id="heading">

            </div>
            <aside>

            </aside>
            <section>

            </section>
        </div>
        <footer></footer>

    </body>
</html>